body {
  margin: 0;
  margin-top: -25px;
  font-family: "Signika Negative", sans-serif;
}
/* cover  */
.cover {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 1)
    ),
    url(images/donation1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 500px;
}
.cover-content {
  color: white;
  text-align: center;
  padding: 100px;
  padding-top: 150px;
}
.cover-content h1 {
  margin-top: -35px;
  font-size: 50px;
}
.cover-content p {
  padding-left: 100px;
  padding-right: 100px;
  color: white;
  margin-top: -15px;
}
.button {
  background-color: #ff5959;
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: 900;
}

/* middle-part */
.middle {
  padding: 0px 50px;
}
section {
  display: flex;
  margin-top: 80px;
}
p {
  color: grey;
}
.half-width {
  width: 50%;
  padding: 0px 20px;
}

.half-width img {
  width: 90%;
  border-radius: 10px;
}

.update {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update p {
  margin: 0px;
}

.subscribe {
  height: 100px;
  width: 600px;
  background-color: #fff4d6;
  margin: 0px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscribe {
}
