body {
  margin: 0;
  margin-top: -25px;
  font-family: "Signika Negative", sans-serif;
}
/* cover  */
.cover {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 1)
    ),
    url(images/donation1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 500px;
}
.cover-content {
  color: white;
  text-align: center;
  padding: 100px;
  padding-top: 150px;
}
.cover-content h1 {
  margin-top: -35px;
  font-size: 50px;
}
.cover-content p {
  padding-left: 100px;
  padding-right: 100px;
  color: white;
  margin-top: -15px;
}
.button {
  background-color: #ff5959;
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: 900;
}

/* middle-part */
.middle {
  padding: 0px 50px;
}
section {
  display: flex;
  margin-top: 80px;
}
p {
  color: grey;
}
.half-width {
  width: 50%;
  padding: 0px 20px;
}

.half-width img {
  width: 90%;
  border-radius: 10px;
}

.update {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update p {
  margin: 0px;
}

.subscribe {
  height: 150px;
  width: 600px;
  background-color: #fff4d6;
  margin: 0px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input[type="email"],
textarea {
  background-color: #d9d9d9;
  border: none;
  height: 34px;
  width: 300px;
  color: grey;
  padding-left: 20px;
  border-radius: 5px 0px 0px 5px;
}
#sub-button {
  background-color: #ff5959;
  color: white;
  text-decoration: none;
  margin-left: -4px;
  border-radius: 0px 5px 5px 0px;
  padding: 8px 15px;
  font-weight: 900;
}

.after-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.taka {
  display: flex;
  flex-direction: row;
}
.box {
  border-radius: 5px;
  background-color: #fafafa;
  color: #707070;
  padding: 10px 30px;
  margin: 2px 8px;
}
#tk200 {
  border: 2px #ff5959 solid;
  color: #ff5959;
  background-color: #ffeeee;
}

input[type="text"],
textarea {
  border: none;
  border-bottom: 2px #dadada solid;
  text-align: center;
  height: 34px;
  width: 680px;
  color: #b3b3b3;
  padding-left: 20px;
}

.donate-grid {
  display: flex;
  width: 900px;
}

.box2 {
  border-radius: 4px;
  width: 25%;
}

#food {
  background: #0a7eac34;
}
#shelter {
  background: #ac300a34;
}
#edu {
  background: #ac940a34;
}

footer {
  height: 150px;
  background-color: black;
  text-align: center;
}
footer p {
  color: #ff5959;
}
footer h3 {
  color: white;
}
.box3 {
  margin: 5px 10px;
  padding: 10px 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 10px 10px 40px gray;
  border-radius: 5px;
}
.box3 img {
  width: 100%;
  border-radius: 5px;
}
